# Зависимости
/node_modules
/backend/node_modules
/frontend/node_modules

# Сборки
/backend/dist
/frontend/dist

# Логи
/backend/logs/

# Загруженные пользователем файлы
/backend/uploads/

# Файлы окружения (содержат секреты)
.env
/backend/.env
/frontend/.env.local
/frontend/.env.*.local

# Конфигурации IDE
.vscode/
.idea/

# Файлы, генерируемые ОС
.DS_Store
Thumbs.db
